@import url(color.css);
body {
    margin: 0px;    
}

header{
    background-color: bisque;
}

header label img{
    height:40px;
    width:40px;
    margin:10px 20px 0px;
}
header input#hamburg {
    display:none;
}

nav {
    padding:0px 10px 20px;
    display:none;
}

input#hamburg:checked + nav{
    display:block;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

nav li {
    border-bottom: 1px solid
    #212529;
    padding: 10px 0px;
    margin: 10px;
}

nav li:first-child {
    margin-top: 10px
}

nav ul a {
    text-decoration: none;
    color: #212529;
    text-transform: uppercase;
}
/*----------------------------MAIN-------------------------------*/
.floater-section {
    /*min-height: 300px;*/
    padding-top:75%
}
.width-sm-100{
    width: 100%;
}
.clearfix{

}
.container:after{
    clear:both;
    content:"";
    display: block;
}

@media(min-width: 540px){
    nav ul li{
        display: inline-block;
        padding-bottom:5px;
        border-bottom:0px;
        margin: 10px 20px;
    }
    nav ul {
        text-align: center;
    }
    nav {
        background-color: bisque;
        display:block;
        padding: 0px 10px;
    }
    header input#hamburg {
        display:none;
    }
    label{
        display:none;
    }
    
    /*---MAIN---*/
    
    .floater-section {
        float:left;
        /*min-height: 300px;*/
    }
    .width-med-50{
        width:50%;
        padding-top:37.5%;
    }
    .width-med-33{
        width:33%;
        padding-top:24.75%
    }
}
@media(min-width: 800px){
    .width-lg-25{
        width:25%;
        padding-top:18.75%;
    }
    .width-lg-100{
        width:100%;
        padding-top:75%;
    }

}